.idea
.venv
test
storage

# Build program result
build
dist
main.spec

# Controler database test
Controler/Clientes.sqbpro
Controler/Clientes.db

# pictures
pictures

# __pycache__
Controler/__pycache__
Model/__pycache__
Views/__pycache__
Components/__pycache__
DataPanels/__pycache__
Utils/__pycache__